*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ECF0F1;
    font-family: Arial, Helvetica, sans-serif;
}

.barra-nav {
    background-color: #3F3F3F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    width: 100%;
    padding: 10px 70px;
}

.social-like {
    font-size: 0.8rem;
}