*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4F4F4;
    min-height: 50vh;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;
    margin-top: 80px;
}

.tarjeta{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 325px;
    height: 276px;
    padding:20px;
    box-shadow: 0px 2px 9px -2px rgb(158, 158, 158);
    flex-direction: column;
}

.titulo{
    font-weight: 685;
    font-size: 1.335rem;
    color: #292929;
}

.ocupacion{
    font-weight: 540;
    font-size: 1rem;
    color: #787878;
    padding-bottom: 10px;
    margin-top: 18px;
}

.texto{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.descripcion{
    font-size: 0.8435rem;
    color: #6E6E6E;
    line-height: 1.35;
    font-weight: 545;
}

.contacto{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #0000EE;
    line-height: 1.4;
    font-size: 1.05rem;
    margin-top: 7px;
}

/* imagen */

.bloque-relativo{
    position: relative;
    height: 40px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    position: absolute;
    top: -170px;
    left: 115px;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    border: 2px white;
}



.contenedor_conectar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conectar{
    color: white;
    background-color: #3498DB;
    padding: 10px 29px;
    padding-top: 11px;
    font-size: 15px;
    font-weight: 540;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    margin-top: 7px;
    width: 87%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.82rem;
}
