* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.centrado {
    text-align: center;
}

header {
    padding: 40px;
    font-family: 'Roboto', sans-serif;
}

.titulo {
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.caja {
    width: 320px;
    background-color: white;
    border-radius: 12px;
    overflow: hidden; /* Surgieron reiterados problemas en el diseño durante su proceso, por eso se uso overflow al conocer su uso. */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


.info {
    padding: 20px 15px;
    font-family: 'Roboto', sans-serif;
}

.info p {
    color: #555;
    margin-bottom: 15px;
}

a {
    color: #256FB0;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

header a {
    font-weight: bold;
    text-decoration: none;
    font-family: 'Talis Bold', sans-serif;;
}


.azul {
    background-color: #4C9BDF;
    padding: 30px 15px;
    color: white;
    font-weight: bold;
    font-family: 'Softipen Script';
    font-style: italic;
    font-size: 20px;
    margin: 0;
}

.rojo {
    background-color: #E85448;
    padding: 30px 15px;
    color: white;
    font-weight: bold;
    font-family: 'Softipen Script';
    font-style: italic;
    font-size: 20px;
    margin: 0;
}

.verde {
    background-color: #52BE80;
    padding: 30px 15px;
    color: white;
    font-weight: bold;
    font-family: 'Softipen Script';
    font-style: italic;
    font-size: 20px;
    margin: 0;
}

.amarillo {
    background-color: #F9CD4E;
    padding: 30px 15px;
    color: white;
    font-weight: bold;
    font-family: 'Softipen Script';
    font-style: italic;
    font-size: 20px;
    margin: 0;
}

.morado {
    background-color: #A569BD;
    padding: 30px 15px;
    color: white;
    font-weight: bold;
    font-family: 'Softipen Script';
    font-style: italic;
    font-size: 20px;
    margin: 0;
}

.turquesa {
    background-color: #389AAA;
    padding: 30px 15px;
    color: white;
    font-weight: bold;
    font-family: 'Softipen Script';
    font-style: italic;
    font-size: 20px;
    margin: 0;
}