*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}

body {
    background-color: #ECF0F1;
    box-shadow: 0 1px 1px gainsboro;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #2C3E50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-shadow: 0 -1px 3px 0px #EAEBEE;
}

.titulo{
    color: #FFFFFF;
    font-size: 2rem; /* Tamaño letra rem: es tamaño*/
    font-weight: 700; /* Grosor de letra */
}

.nav{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
}
.nav a{
    color: #ffffff;
    text-decoration: none;
}

.contenedor-principal{
    display: flex;
    padding:30px;
    flex-direction: row;
    width: 100%;
}

.columna-izquierda{
    display: flex;
    justify-content: center;
    font-size: 16px;
    text-align: center;
    flex:2;
}

.tarjeta-perfil{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

.superior-tarjeta{
    background-color: #3498DB;
    border-radius: 25px;
    width: 100%;
    height: 150px;
    top: 20px;
    position: relative;
}

.descripcion-tarjeta{
    background-color: #FFFFFF;
    width: 100%;
    position: relative;
    padding: 20px 0;
}

.descripcion-tarjeta img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    position: absolute;
    top: -140px;
    left: 190px;
}

.usuario{
    color: #343434;
    font-size: 2rem;
}

.ubicacion{
    color: #626A79;
    font-size: 1.5rem;
    margin-top: 25px;
}

.info{
    color: #444444;
    font-size: 1.5rem;
    margin-top: 25px;
}

.boton-editar{
    display: flex;
    background-color: #FFFFFF;
    padding: 12px 0;
    width: 70%;
    border: none;
    position: absolute;
}
.boton-editar img{
    width: 200px;
    height: 70px;
}

.cerrar-sesion{
    color: white;
    background-color: #216CEA;
    padding: 9px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer; /* Añade una mano cuando mouse  */
    border-radius: 6px;
    border: none;
}

button:hover{
    background-color: #1d4ed8;
    color: #FFFFFF;
}


.columna-derecha{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    flex:1;
}
.tarjeta-conexiones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-color: #ffffff;
    width: 100%;
    padding: 20px;
}
.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    text-align: center;
    padding: 0 20px;
    font-size: 16px;
}
.row img{
    height: 40px;
}

.ver-todas{
    color: #429FDE;
    background-color: #FFFFFF;
    border: solid 1px #429FDE;
    padding: 12px 24px;
    font-size: 1.5rem;
    font-weight: 600;
}

.titulo-panel{
    font-size: 1.4rem;
}

.solicitud{
    color: #444444;
    font-size: 1.1rem;
    margin-top: 25px;
}

.perfil{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}
.conexion{
    color: #444444;
    font-size: 1.1rem;
    margin-top: 25px;
}


