* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

.header {
    background-color: #1E3A5E;
    color: white;
    padding: 40px 45px;
    text-align: center;
    font-size: 12px;
}

h1 {
    font-size: 24px;
}

.menu {
    margin-top: 20px;
    background-color: #204875;
}

.boton {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 12px;
}

.contenedor{
    padding: 30px;
    margin: 50px auto;
    width: 600px;
    box-shadow: 0 0 3px black;
    text-align: center;
}

.tarjetas {
    text-align: center;
}

.bloque{
    display: block;
    background-color: #204875;
    color: white;
    padding: 20px;
    width: 540px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 12px;
}

.box{
    display: inline-block;
    width: 170px;
    height: 110px;
    background-color: #00AEE5;
    color: white;
    margin: 5px;
    padding: 10px;
    padding-top: 35px;
    border-radius: 10px;
}

h2 {
    font-size: 16px;
}

p {
    font-size: 12px;
}

.negrita {
    font-size: 16px;
}
