* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

.header {
    background-color: #1E3A5E;
    color: white;
    height: 100px;
    padding: 40px 45px;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
}

h1 {
    font-size: 24px;
}

.header p {
    font-size: 11px;
    margin-top: 15px;
}

.menu {
    background-color: #204875;
    text-align: center; 
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
}

.boton {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 11px;
}

.contenedor{
    padding: 20px;
    margin: 35px auto;
    margin-top: 20px;
    width: 1000px;
    box-shadow: 0 0 12px gray;
    text-align: center;
}

.tarjetas {
    text-align: center;
}

.bloque{
    display: block;
    background-color: #204875;
    color: white;
    padding: 20px;
    width: 750px;
    margin-bottom: 20px;
    margin-left: 100px;
    border-radius: 10px;
    font-size: 12px;
}

.box{
    display: inline-block;
    width: 300px;
    height: 100px;
    background-color: #00AEE5;
    color: white;
    margin: 5px;
    padding: 10px;
    padding-top: 35px;
    border-radius: 10px;
}

.box p {
    margin-top: 12px;
}

/*
    margin-left: 20px;
    margin-right: 20px; 
*/
h2 {
    font-size: 14px;
}

p {
    font-size: 10px;
    margin-top: 8px;
}

.negrita {
    font-size: 11px;
}
